.home-slide {
  background-color: $bg-color;
  background: url(../img/October0003.jpg) no-repeat center center fixed;
  height: 100vh;
  width: 100vw;
  z-index: 500;
  position: relative;
  background-size: cover; 


  .album-wrapper {
    @include span(6 of 12 at 6 last);
    margin-top: 19%;

    .album-header, .album-artist {
      text-align: right;
      display:table-row;
    }
  }
}

.track-one {
  background: url(../img/PAR65574.jpg) no-repeat left center fixed;
  height: 100vh;
  width: 92vw;
  background-size: cover;
}
