    {{> html}}


<!-- Insert search bar -->
    {{> searchbar}}



 <!--  Insert Header -->
    {{> header}}

<div role="document" class="page-wrapper">
<main role="main">
<div class="article-wrapper">

<section class="article__hero">
  <div class="slot__background" style="background-image: url(img/hero-fire.jpg); ">
  </div>
  <div class="top-matter">
    <h2 class="article-title--lg media__header">Coexisting with Wildfire</h2>
    <h3 class="article-author"><span>By</span> Max A. Moritz, Scott Gabriel Knowles</h3>
    <p class="dek-title">Promoting the right kind of fire—and smarter development—is safer and more cost-effective than fighting a losing battle.</p>
    <h4 class="media__keywords tags"><span class="environment">environment</span> <span>wildfires</span> <span>natural disasters</span> santa barbara</h4>

    <div class="article__socialmedia">
      <ul class="navigation__socialmedia">
       <li class="socialmedia__item socialmedia--ArticleBookmark"><a href="http://www.twitter.com">Favorite</a></li>
       <li class="socialmedia__item socialmedia--ArticleFacebook"><a href="#">Facebook</a></li>
       <li class="socialmedia__item socialmedia--ArticleTwitter"><a href="http://www.twitter.com">Twitter</a></li>
       <li class="socialmedia__item socialmedia--ArticleLinkedIn"><a href="http://www.linkedin.com">LinkedIn</a></li>
       <li class="socialmedia__item socialmedia--ArticleGooglePlus"><a href="#">Google Plus</a></li>
       <li class="socialmedia__item socialmedia--ArticleEmail"><a href="#">Email</a></li>
       <li class="socialmedia__item socialmedia--ArticlePrint"><a href="#">Print</a></li>
    </ul>
  </div>

</div>
</section>

<section class="article-main">
  <div class="issue-bug">
    <div class="image-wrapper">
      <img src="img/current-issue-sm.jpg" alt="Current Issue" />
    </div>
    <div class="bug__content">
      <h3 class="bug__intro">This Article From Issue</h3>
      <h4 class="bug__issue">July-August 2016</h4>
      <h5 class="bug__volume">Volume 104, Number 4</h5>
      <h6 class="bug__page">Page 200</h6>
      <p class="bug__doi">DOI: <a href="#">10.1511/2016.121.220</a></p>
    </div>
    <ul class="bug__list media__list">
        <li class="media__item"><a href="#" class="media__button pdf__button">PDF</a></li>
        <li class="media__item"><a href="#" class="media__button">View Issue</a></li>
    </ul>
  </div>


  <p class="article-intro">Standing in a quiet, burned-out homesite overlooking the coastal town of Santa Barbara, California, six years after flames tore through this community in 2009, the sense of both terror and loss were still palpable.</p>

  <p>The fire-adapted plants on the chaparral-covered hillsides were regenerating, as they have done after wildfires for thousands of years. Many of the homes that burned nearby had been rebuilt, stronger and more fire-resistant, with the hope that they will better withstand the next wildfire to sweep through the area. But in those gutted locations that have yet to be rebuilt—and possibly never will be—evidence of personal tragedies remains. During our field trip in search of a path toward coexistence with wildfire, its role as a recurring natural hazard was made real. Unlearned lessons still lay among the charred debris.
  </p>

  <figure class="article__figure--lg">
  <img src="img/figure-homesite.jpg" alt="Homesite">
  <figcaption><a href="#"><img class="expand" src="img/expand-button.png" alt="Expand" /></a><p>This homesite, which was burned in the 2009 Jesusita Fire, remains a stark reminder of the risks of living on a fire-prone landscape, even six years later.</p>
  <p><strong>Photograph courtesy of Scott Knowles.</strong></p></figcaption>
</figure>

<div class="adband vertical-ad">
  <img class="vertical-ad-img" src="img/ad-vert-geico.png" alt="Geico Ad" />
</div>

<p>As researchers, we come from different backgrounds: a biogeographer with an emphasis on spatial analysis of wildfire and an historian focusing on disasters and public policy. Our paths had crossed before, during writing of the 2011 book The Disaster Experts: Mastering Risk in Modern America. In subsequent discussions about wildfires and their effects on people and ecosystems, it became increasingly obvious to us that there is a disconnect between research findings and the policies that can make communities safer. Policy and planning are slow to adopt the wealth of scientific knowledge about why homes burn and how to diminish fire-related threats.</p>

<p>Research has long shown that fire is a necessary, natural disturbance in many ecosystems. Even so, much of society’s response to fire is still reactive, based on outdated notions of “the wildfire problem” as simply one of fuel buildup—an unwelcome remnant of the U.S. Forest Service’s focus over many decades on putting out fires at all costs. Although forests that have accumulated dense thickets of younger trees are a problem in some areas, it is not the only story—not even the most important one—when it comes to lessening the impact of wildfire on human communities. This misunderstanding is pervasive, hindering discussions about what the best policy solutions may be.</p>

<!--overlay is figure -class= overlay figcaption class="caption-overlay" with two dashes -->
<figure class="article__figure--full">
  <div class="slot__background" style="background-image: url(img/figure-smoke.jpg); ">
  </div>
<figcaption><a href="#"><img class="expand" src="img/expand-button.png" alt="Expand" /></a><p>Almost 300 homes were lost during a 2008–2009 series of wildfires in the hills of the Santa Barbara region of California, including the May 2009 Jesusita wildfire, shown here burning in the foothills above Santa Barbara on its first night, ultimately incurring a cost of $20 million...</p></figcaption>
</figure>

<p>The disconnect between knowledge and policy stems largely from current views of wildfire. In contrast to other natural hazards, the primary response is to fight fires rather than to accept them as a recurring fact of life in fire-prone ecosystems. In between such events, the aim is often to fight the vegetation that may fuel the next fire. Fire creates the illusion of being controllable, unlike other natural hazards such as hurricanes, earthquakes, and tornadoes. Rather than fighting them, the typical response to many natural hazards is to prepare for them, to accommodate their inevitable occurrence, and to reduce the risk of losses where possible. In dangerous locations, building codes and land-use planning are established to make living there more survivable or to discourage building there in the first place.</p>

<p>Learning from disaster, however, is not as straightforward as we all wish it could be. The process has been a slow and painful one. Even when the data are collected and the science is clear, impediments to intelligent policy stand in the way. Inevitably, there is pressure from developers to keep building despite disastrous outcomes, and elected officials are often unwilling to restrain construction or enforce stringent land-use policies in a way that could curb economic growth. Hurricanes Katrina and Sandy have not slowed coastal population expansion, for example, despite their massive impacts. There are also competing messages and real difficulties in communicating risk to citizens who may feel that disaster could happen, but it might not affect them.</p>

<blockquote class="article__quote">
  <p>“Learning from disaster, however, is not as straightforward as we all wish it could be.”</p>
  <ul class="navigation__socialmedia">
   <li class="socialmedia__item socialmedia--ArticleFacebook"><a href="#">Facebook</a></li>
   <li class="socialmedia__item socialmedia--ArticleTwitter"><a href="http://www.twitter.com">Twitter</a></li>
</ul>
</blockquote>

<p>In the case of wildfire, increasingly destructive fire seasons and alarming losses of homes and lives have stirred awareness in recent years. For example, the 2015 fire season broke records in the amount of area burned across the United States. In northern California, where years of drought have parched the landscape, almost 3,000 structures burned in just two wildfires alone. The Fort McMurray Fire in Alberta, Canada, which has consumed more than 2,400 buildings and burned across more than 2,200 square miles at the time of this writing, is another stunning example. Conditions are relatively severe across much of western North America, indicating that the 2016 fire season should again be one for the record books. Unfortunately, climate change may make such periods of extended warm drought more common in many locations. This trend, combined with expanding development on fire-prone landscapes, makes learning to coexist with wildfire an urgent priority.</p>

<p>At a basic level, we care about fire because it burns homes and risks lives of both firefighters and those living on fire-prone landscapes. Their stories continuously make the news each fire season. How many more fatalities will have to occur before people address the issue comprehensively? To do so, policy makers will have to consider climate change and expansion of development onto increasingly fire-prone landscapes, or the wildfire problem simply becomes more difficult and dangerous with each passing year.</p>

<h3 class="article__heading">How Fiery Is the Future?</h3>

<p>Whether a given location will be more fire-prone in the future depends a great deal on what controls wildfire occurrence there now. Many ecosystems have relatively high productivity and plenty of vegetation to burn when conditions are right. Yet that plant biomass may not become flammable very often, if there is no warm and dry season during which fire is possible. Tropical and temperate rainforests are ecosystems in which this tends to be the case. If climate change results in more episodic droughts or warmer and drier summers on average, these environments are likely to experience more fire activity. At the other end of the spectrum, many arid desert regions experience hot and dry weather that would readily support vegetation fires for much of the year, but there is little to burn. Even modest increases in future rainfall for such regions could thus lead to greater fuel accumulation rates and more fire activity. Polar deserts, which currently have very limited windows each year when it is warm enough for plants to grow, may also see more fire in the future as temperatures rise and fire-conducive weather conditions become more common. In addition to sufficient plant growth and a periodic fire season, recurring wildfires require a source of ignition.</p>

<aside class="article__related">
  <div class="image-wrapper">
    <img src="img/chemical-sm.jpg" alt="Current Issue" />
  </div>
  <div class="related__content">
    <h3 class="related__header">Related</h3>
    <h4 class="related__title">A Constructive Chemical Conversation</h4>
</div>
</aside>

<p>How these three basic constraints—plant biomass, warm and dry conditions, and an ignition source—come together in space and time determines the level of fire activity that a given region experiences on average. Easing one of the constraints—by promoting more ignitions, faster biomass accumulation rates, or more extreme dry seasons—will typically lead to increases in wildfires, up to a point where one of the other constraints may become limiting. Wildfire thus has certain environmental requirements for it to persist on different landscapes, not unlike biological organisms. The subdiscipline of pyrogeography has emerged as the study of broadscale patterns of wildfire, the controls on its distribution, and its effects. The subfield has borrowed methods from and built upon other ecological research that studies how species are distributed across a region and how their ranges might shift with climate change.</p>

<figure class="article__figure">
<img src="img/figure-map.jpg" alt="An awesome picture">
<figcaption><a href="#"><img class="expand" src="img/expand-button.png" alt="Expand" /></a><p>The occurrences of fires around the globe can identify the broadscale environmental variables that affect their likelihood across different ecosystems.</p>
<p><strong>Image from <a href="http://www.globalfiredata.org">globalfiredata.org</a>.</strong></p></figcaption>
</figure>

<p>The first step in modeling average fire frequencies is to quantify the gradient between environments that are relatively marginal for wildfire and those that are much more optimal. The global contrast between such areas can be striking over only moderate distances, as shown by the lack of fires in the Sahara Desert of the African continent and the abundance of fire in the savanna ecosystems just to the south. (See the map above.) These maps of recent fire patterns are then intersected with maps of temperature and precipitation variables that capture long-term rates of biomass accumulation and the typical length and intensity of the dry season. Statistical relationships between existing “baseline” levels of fire activity and current climate patterns are then estimated, so that the model’s ability to recreate existing wildfire patterns is credible. The models are then projected into the future, driven by predictions of future climate scenarios, some of which show only modest shifts and others that indicate much more worrisome outcomes.</p>

<p>Despite recent advances, projecting long-term future fire patterns involves several challenges and assumptions. A major source of uncertainty is predicting how the climate will shift in different parts of the world. There is fairly consistent agreement among global climate models—of which there are more than 20 in use—that the Earth will continue to warm as greenhouse gas emissions accumulate in the atmosphere. Future patterns in the timing and amounts of precipitation over the next century, however, are much less consistent. Realistic temporal sequencing that might be important for fire in a specific location is even more difficult for the climate models. Good predictions of how often wet winters will be followed by successive drought years, for example, or the frequency of El Niño–related warm and dry winters (such as those that have driven the Fort McMurray Fire) are simply not yet possible for the coming decades. Our confidence in future wildfire trends is therefore directly linked to the robustness and agreement among the global climate models themselves.</p>

<blockquote class="article__quote quote--left">
  <p>There is less certainty about future fire activity in areas sensitive to fluctuations in precipitation.</p>
  <ul class="navigation__socialmedia">
   <li class="socialmedia__item socialmedia--ArticleFacebook"><a href="#">Facebook</a></li>
   <li class="socialmedia__item socialmedia--ArticleTwitter"><a href="http://www.twitter.com">Twitter</a></li>
</ul>
</blockquote>

<p>How humans might change future fire activity is also a source of uncertainty. At local scales, humans can alter the number and timing of ignitions—people both start and extinguish fires. One way to address this uncertainty is through the use of relatively coarse spatial resolutions in the predictions, which allows for areas to be treated as if ignition sources are never the limiting factor, because larger  areas are more likely to include some sort of ignition source. Given that humans and lightning already provide ample ignitions across most regions—and future trends in both sources are thought to be increasing because of population expansion and climate change—this modeling decision is reasonable and useful. It also keeps the influence of other fine-scale human activities, such as developing otherwise flammable landscapes or suppressing wildfires in higher population areas, from obscuring dominant climate-related controls on vegetation characteristics and fire-season severity. Another advantage is that predictions more closely match the scale of typical global climate model outputs, all of which are most reliable at coarse resolutions. Just as one might have more confidence in future projections of long-term climate conditions across broad areas (for example, a prediction of mean annual temperature over 30-year periods across 100-kilometer grid cells), fire model predictions perform better at similar scales.</p>

<p>Although there is substantial variation among future climate projections, global fire modeling studies do show some consistencies. One of the most striking salient predictions is that fire activity will increase across much of the northern hemisphere. Many of the models show the western United States, for example, becoming increasingly prone to fire. In some cases, where decreases are predicted, it is after several decades of warmer, drier conditions that eventually lead to less-productive conditions and much lower fuel-accumulation rates. There is less certainty about future fire activity in areas sensitive to fluctuations in precipitation (for example, when there are more frequent droughts in moisture-rich rainforests or more wet years in moisture-poor deserts), at least based on climate change alone. Such uncertainties make fire-related management and conservation decisions even more crucial in the carbon- and biodiversity-rich rainforests along the Earth’s equatorial regions, already plagued by human-caused deforestation fires.</p>

<h3 class="article__heading">The Right Kind of Fire</h3>

<p>People tend to look at fires as simply dangerous and damaging, but from an ecological perspective they are often natural and even essential. For instance, many plants from California chaparral shrublands are adapted to fire, with some seeds germinating only after heat- or smoke-induced cues. The “right kind of fire” for different organisms—the natural frequencies, sizes, intensities, and seasonal timing of those fires—is not always well known, however. In addition, the level to which a given fire regime may have deviated from historical norms is unclear for many parts of the world. Some dry coniferous forests in the western United States, such as the lower elevations of the Sierra Nevada Mountains in California, have not burned much over the past century. These areas therefore may need a reintroduction of fire to maintain the organisms living there and curb the risk of out-of-control wildfires. Exactly which forests need restoration and how important fuel accumulation may be in the face of climate change, however, is a matter of debate. In contrast, fire appears not to have been a strong evolutionary force in some ecosystems, such as deserts and tropical rainforests, where increases in fire could be disastrous for their conservation.</p>

<figure class="article__figure">
<img src="img/figure-map-views.jpg" alt="An awesome picture">
<figcaption><a href="#"><img class="expand" src="img/expand-button.png" alt="Expand" /></a><p>A comparison of global fire projections shows possible increases and decreases in future fire activity. Models show strong agreement that fire probability will increase across much of North America, Europe, and northern Asia...</p></figcaption>
</figure>

<p>The resilience of fire-prone ecosystems may depend, in part, on fire’s role in facilitating range shifts of species affected by climate change. To survive and regenerate in suitable environments, many species will need to track shifting climate conditions, sometimes across large distances and at relatively fast rates. By opening up space and resources for colonization, fire will therefore assist such shifts across different parts of the landscape. At the same time, it will eliminate certain species from areas where climate change is making it harder for them to reproduce and survive, risking local extinctions in some cases. There will be tradeoffs. Nonetheless, the natural landscape variation that most fires create should increase ecosystem resilience to climate change’s effects, because it provides a diverse set of environments and thus wider potential for many species’ persistence. Contrary to what many people assume, fire can be a factor that will help some ecosystems respond to climate change, if managed carefully.</p>

<p>A fundamental challenge is that people’s tolerance for fire on the landscape, either as wildfire or controlled burns, is linked to where and how we build communities. The risk to human lives and homes will inevitably dominate decision-making about fire and its potential ecological roles. Uncontrolled wildfires need to be fought as they approach places where vulnerable people live, regardless of population densities there. Even for planned fires, human acceptance of nearby flames or smoke from more distant prescribed burns is often low. In the context of fire, social resilience and ecosystem resilience may not always be directly compatible.</p>

<blockquote class="article__quote quote--right">
  <p>Wildfires have become a massive financial burden on taxpayers.</p>
  <ul class="navigation__socialmedia">
   <li class="socialmedia__item socialmedia--ArticleFacebook"><a href="#">Facebook</a></li>
   <li class="socialmedia__item socialmedia--ArticleTwitter"><a href="http://www.twitter.com">Twitter</a></li>
</ul>
</blockquote>

<p>Suppressing fire has become extremely expensive, as indicated by the debates last year over U.S. Forest Service “fire borrowing,” when funds are funneled from fire prevention and forest management initiatives to fight current wildfires. From 1995 to 2015, the U.S. Forest Service has seen its fire-related expenses climb from 16 percent to more than 50 percent of its annual budget—with the projection climbing to 67 percent of the budget by 2025. After wildfires do enough damage to become defined as disasters in human communities, even more public funds are spent. Wildfires have become a massive financial burden on taxpayers.</p>

<h3 class="article__heading">Hazard Versus Vulnerability</h3>

<p>Some natural disasters, such as hurricanes and earthquakes, happen relatively rapidly and then drastically affect tens of thousands of people. Such “rapid disaster” events may be difficult to predict, and damage is caused largely by the physical impacts of the event itself. “Slow disasters”—events that play out over months or even years, such as droughts—may also devastate populations over broad areas. These events, however, can be more predictable in how they strike and what their effects will be.</p>

<p>Wildfires, which occasionally reach the “disaster” designation by Federal Emergency Management Agency (FEMA) standards, fit neither the rapid nor slow category well. This is part of the reason why people’s responses to them are so badly designed. Wildfires are short-lived, with most lasting days to weeks. Fatalities and damage to buildings and other structures are typically experienced during the fire itself, not its aftermath. Fire spread can be erratic as it progresses across the landscape, and losses are therefore often difficult to predict. In these ways, wildfires are like other rapid natural hazards. Repercussions in human terms tend to be incremental, however, with relatively small numbers of lives and homes lost during most fire seasons, at least in comparison to some other natural hazards. Wildfire impacts also have a strong socioeconomic underpinning, related to where and how we build our communities over the long term.</p>

<aside class="article__related">
  <div class="image-wrapper">
    <img src="img/river-sm.jpg" alt="Current Issue" />
  </div>
  <div class="related__content">
    <h3 class="related__header">Related</h3>
    <h4 class="related__title">A River’s Hidden Story</h4>
  </div>
</aside>

<p>So although wildfire as a natural hazard may be more like a rapid event, the human vulnerabilities side of the equation falls into the slow-event category. To put it another way, elected officials have great incentives to react to disasters as they unfold, but far fewer incentives to take far-reaching steps toward disaster reduction. The slowness of the risk aggregation processes (fuel build-up, development in wildfire corridors) makes it hard to measure and challenging to govern. Although not unique to wildfire, these disconnects have strong cultural roots in the United States and important ramifications.</p>

<p>Management of fire hazard in the United States has long been the domain of the Forest Service. As a federal agency overseeing vast expanses of fire-prone land, it has led the way in researching topics including how wildfires kill individual trees and how fire spreads across complex terrain. Emphasis is on forested environments, given the mission of the agency, but the Forest Service also manages millions of acres of nonforested lands. Because wildfires historically have been seen as a threat to natural resources, fire suppression emerged as a priority in much of what the agency does. Out of an annual budget of almost $5 billion, more than half is now dedicated to putting out wildfires. It is not surprising that reducing fire hazard is a key focus of the agency. Because fuel load (the amount of vegetation) and structure (affecting whether the flames are on the ground or reach into tree canopies) can be strong drivers of fire hazard, it is also not surprising that there has traditionally been a strong emphasis on fuel reduction. Through time this theme has become embedded in the culture of the entire fire service, including federal, state, and local agencies, and it informs public perception of what “the wildfire problem” is.</p>

<figure class="video__figure">
<video src="videofile.ogg" autoplay poster="img/fire__video-poster.jpg">

</video>
</figure>

<p>Understanding and addressing human vulnerabilities to fire, unlike reacting to fire hazard itself, involve a much more diffuse and decentralized set of players. This is another factor that has prevented the adoption of more logical strategies. No single agency or culture leads the way in educating homeowners about their particular evacuation challenges and home-ignition weaknesses, both of which can vary immensely. A given community may learn about these issues from their Fire Safe Council, or another organization (such as www.firewise.org, www.fireadapted.org), if firefighters in the area do not have the resources for such programs. Alternatively, some property insurance companies offer assessments.</p>

<p>The information that homeowners get, if they seek it at all, can thus be inconsistent or overly general. Building codes and land-use planning are notoriously local in their authority, and practices can vary across administrative boundaries. Many vulnerabilities to wildfire, once in place, can only be addressed relatively slowly through changing people’s behaviors or retrofitting individual structures. A variety of impediments—in law, in political will, in traditions of risk tolerance—therefore exist in identifying and attenuating human vulnerabilities, despite their importance in reducing losses of lives and homes.</p>

<aside class="article__related article__sidebar">
  <div class="image-wrapper">
    <img src="img/fire-sm.jpg" alt="Current Issue" />
  </div>
  <div class="related__content">
    <h3 class="related__header">Sidebar</h3>
    <h4 class="related__title">Realism About Fire Hazards</h4>
    <div class="expanding-text">
    <p>Federal policy directs fuel treatments on public lands and assists with firefighting costs and disaster relief, but it is not always the determining factor in decision making at the scales of county, municipality, or homeowner.</p>

    <p>In contrast, state-level policy can shape land use, but natural hazards straddle administrative boundaries, and land-use laws are often jealously guarded by <input type="checkbox" id="aside-check_id">
    <label for="aside-check_id"></label><span class="expand-textblock">
      local authorities. At the most local levels citizens are empowered to protect their homes and communities, yet they often lack the resources and expert capacity to know the state of the art in fire science. This problem of “disaster federalism” is not unique to wildfire, but it is especially acute for a hazard that affects large areas and takes shape over generations.</span></p>
    </div>
  </div>
</aside>

<p>The basic message that the public tends to hear from fire-related agencies is an urgent one about fuel reduction, both at the landscape scale and immediately around their homes. Such measures may address hazard-related concerns (such as lowering flame lengths or slowing rates of fire spread), but do little to mitigate vulnerabilities. For example, if the zone surrounding a structure has been cleared of flammable vegetation, it is considered by firefighters to be a relatively safe place for fire suppression forces to defend the home, if they are present during awildfire. But if the roads in a neighborhood are too narrow for fire trucks or if many homes have highly combustible wood-shake shingle roofs, such factors may render these homes lost in the event of fire. (See the sidebar above to learn more about addressing vulnerabilities to fire.) Firefighters may not be safe defending structures in these circumstances, and with limited resources they would need to focus on homes that have a better chance of surviving. Public messaging about fuels is therefore often out of sync with what is actually defensible and why homes might burn in the first place. Public funding for mitigation is also disproportionately aimed at hazard reduction, instead of addressing vulnerabilities to loss.</p>

<figure class="article__figure figure--on-right">
  <img src="img/figure-cali-map.jpg" alt="An awesome picture">
  <figcaption><a href="#"><img class="expand" src="img/expand-button.png" alt="Expand" /></a><p>Some states, including California, have mapped fire hazards and are using this information to improve decision making about where and how...</p></figcaption>
</figure>

<h3 class="article__heading">Trail by Fire</h3>

<p>To finally make lasting progress in our struggle to coexist with wildfire, a first step is to accept that fuel reduction is not a panacea. Managing fuels to reduce fire hazard is certainly an important consideration in many locations, but it is clear that the home-loss problem is as much about vulnerabilities as it is about hazards. Homeowners must understand their local risks and take action accordingly. This awareness may require difficult decisions about evacuation options, including when evacuation itself may not be the safest choice. This issue is extremely controversial, but agencies responsible for wildfire response and public safety will need to confront it directly as more people inhabit fire-prone landscapes. </p>

<p>Retrofitting structures that are already located in fire-prone areas is clearly a priority, and it often makes economic sense, too: The one-time cost of, say, replacing attic or crawlspace vents that are vulnerable to ember entry may be very low (maybe $25 to 75 each), and the protection they provide should be permanent. In contrast, vegetation-reduction efforts have uncertain effectiveness and must be revisited frequently—ranging from annually for grassy fuels to decadally for forested environments—without ever stopping. Public grant funding should thus be widely available for such retrofits, just as it is for fuel-reduction projects. If insurance companies were more willing to reward parcel-level mitigation activities, they could help to greatly reduce structure vulnerabilities to ignition.</p>

<figure class="article__figure--lg">
<img src="img/figure-house-onfire.jpg" alt="An awesome picture">
<figcaption><a href="#"><img class="expand" src="img/expand-button.png" alt="Expand" /></a><p>Homes often burn because of flying embers from a fire that is not necessarily nearby. In the absence of wood shingle roofs, vulnerable vents that allow embers into the attic above or crawlspace below a house cause many ignitions. For several homes lost during the 2007 Angora Fire near South Lake Tahoe, California, such as the one shown above, adjacent vegetation...</p></figcaption>
</figure>

<p>Proactive, long-term strategies must also include mapping fire hazards across broad scales, so that future communities can be designed and located more strategically. This information is fundamental to how we address living on landscapes prone to other natural hazards, and wildfire-hazard maps should similarly guide where and how we build. In addition, the biophysical controls on wildfire do not stop at administrative city or state boundaries, and neither should our hazard maps. State and federal agencies charged with fire response over large areas must therefore adopt or develop hazard maps over these domains. Fortunately, there are examples of how this mapping can be done using scientifically valid data and methods; one example is the Fire Hazard Severity Zone mapping process in California. The maps should then guide building codes and land-use planning decisions so that we build our future communities in less-vulnerable ways and in the least-hazardous parts of the landscape. In many cases, by simply concentrating development in safer areas, the same number of houses may be built. Clustering development, and otherwise arranging homes to minimize their exposure to likely future wildfires, must also be incorporated at local scales.</p>

<blockquote class="article__quote quote--left">
  <p>Given advances in fire-resistant construction, similar strategies should be adopted for fire-prone landscapes.</p>
  <ul class="navigation__socialmedia">
   <li class="socialmedia__item socialmedia--ArticleFacebook"><a href="#">Facebook</a></li>
   <li class="socialmedia__item socialmedia--ArticleTwitter"><a href="http://www.twitter.com">Twitter</a></li>
</ul>
</blockquote>

<p>Given that public funding can alter development decisions on hazard-prone landscapes, we must make sure taxpayers are not inadvertently subsidizing or incentivizing future building there. For example, federal funds flow from both the Department of Transportation and the Department of Housing and Urban Development to the states, and in many cases these funds then support new housing developments. How often are public funds being used to build homes that will be lost to a future wildfire?</p>

<p>Adapting to climate change has led to new ideas in urban design that are perfectly suited to coexisting with wildfire, even if developed for other natural hazards. Passive survivability is now a building strategy, so that both a structure and the people inside can survive a disaster involving the loss of life support systems (for example, to maintain livable temperatures for several days without air conditioning or supplemental heat). In areas subject to flooding or sea level rise, this strategy also incorporates designing the building to temporarily withstand higher water levels. Given advances in fire-resistant construction, similar strategies should be adopted for fire-prone landscapes. More holistically including wildfire into green-building standards is another promising route. Leadership in Energy and Environmental Design (LEED) certification, for instance, currently includes criteria for passive survivability and for minimizing structure vulnerabilities to ignition, but they are not integrated so people could safely shelter in place if they were not able to evacuate from a wildfire in time.</p>

<aside class="article__related article__sidebar">
  <div class="image-wrapper">
    <img src="img/retrofit-sm.jpg" alt="Current Issue" />
  </div>
  <div class="related__content">
    <h3 class="related__header">Sidebar</h3>
    <h4 class="related__title">Retrofitting Vulnerable Structures</h4>
    <div class="expanding-text">
    <p>Because building codes have become stronger in many areas through time, older homes can have the greatest inherent vulnerabilities to ignition during wildfire. For example, traditional wooden shingle roofs are a very common source of ignition and home loss in established communities across the western United States. As burning embers are blown into neighborhoods <input type="checkbox" id="aside-check_id2">
    <label for="aside-check_id2"></label><span class="expand-textblock"> from nearby wildfires, such construction features can be the weakest link, often triggering a devastating home-to-home progression of fire spread. In the context of home vulnerabilities to wildfire, it is basically true that one is only as safe as one’s neighbor.</span></p>
    </div>

  </div>
</aside>

<p>Wildfires are inevitable and often as uncontrollable as earthquakes and floods, but we’re still working to break the pathological feedback loop of poor planning and fighting fires after it’s too late. With better land-use planning and smarter development, our communities can avoid the kinds of losses that we’ve repeatedly witnessed in California and are seeing now in Fort McMurray. There are solutions to the increasing trends in wildfire-driven losses, but they require everyone to rethink their assumptions about preventing wildfires and to focus more on where and how we build communities.</p>

<div class="article__socialmedia last-child">
  <ul class="navigation__socialmedia last-child">
   <li class="socialmedia__item socialmedia--ArticleBookmark"><a href="http://www.twitter.com">Favorite</a></li>
   <li class="socialmedia__item socialmedia--ArticleFacebook"><a href="#">Facebook</a></li>
   <li class="socialmedia__item socialmedia--ArticleTwitter"><a href="http://www.twitter.com">Twitter</a></li>
   <li class="socialmedia__item socialmedia--ArticleLinkedIn"><a href="http://www.linkedin.com">LinkedIn</a></li>
   <li class="socialmedia__item socialmedia--ArticleGooglePlus"><a href="#">Google Plus</a></li>
   <li class="socialmedia__item socialmedia--ArticleEmail"><a href="#">Email</a></li>
   <li class="socialmedia__item socialmedia--ArticlePrint"><a href="#">Print</a></li>
</ul>
</div>

<div class="article__bibliography">
  <h4 class="bibliography__header">Bibliography</h4>
  <ul class="bibliography__list">
    <li>Knowles, S. G. 2012. The Disaster Experts: Mastering Risk in Modern America. Philadelphia: University of Pennsylvania Press.</li>
    <li>Krawchuk, M. A., and M. A. Moritz. 2014. Burning issues: Statistical analyses of global fire data to inform assessments of environmental change. Environmetrics 25:472–481.</li>
    <li>Krawchuk, M. A., M. A. Moritz, M. A. Parisien, J. Van Dorn, and K. Hayhoe. 2009. Global pyrogeography: The current and future distribution of wildfire. PloS ONE 4:e5102.</li>
    <li class="container">
    <input type="checkbox" id="biblio-check_id">
    <label for="biblio-check_id"></label>
      <ul>
        <li>Mann, M. L., et al. 2016. Incorporating anthropogenic influences into fire probability models: Effects of human activity and climate change on fire activity in California. PLoS ONE 11:e0153589.</li>
        <li>Moritz, M. A., et al. 2012. Climate change and disruptions to global fire activity. Ecosphere 3:49.</li>
        <li>Moritz, M.A., et al. 2014. Learning to coexist with wildfire. Nature 515:58–66.</li>
        <li>Parisien, M. A., and M. A. Moritz. 2009. Environmental controls on the distribution of wildfire at multiple spatial scales. Ecological Monographs 79:127–154.</li>
    </ul>
  </li>
  </ul>
</div>

</section>

<section class="read-more__section clearfix">
  <div class="article__related next-article">
    <div class="image-wrapper">
      <img src="img/naturalist-sm.jpg" alt="Current Issue" />
    </div>
    <h3 class="related__header">Read More in This Issue</h3>
    <h4 class="related__title">G. Evelyn Hutchinson’s Exultation
in Natural History</h4>
  </div>

<div class="read-more__buttons">

  <ul class="read-more__list media__list">
      <li class="media__item all__item"><a href="#" class="media__button">All Topics</a></li>
      <li class="media__item more__item"><a href="#" class="media__button environment">More in Environment</a></li>
  </ul>


</div>
</section>


</div>

</main>


<!--FOOTER-->

    {{> footer}}

</div>  <!-- End Wrapper -->

 <!--Scripts and Closing HTML-->

    {{> html-end}}
