////
/// @group colors
////
$about-gray: #eaeaea;
$nav-lt-gray: #2a2a2a;
$nav-dk-gray: #1a1a1a;

/// @type color
// Font Color
$black: #000000;
$white: #ffffff;
$blue: #206cd4;
$green: #229720;
$lime-green: #98D981;
$dk-green: #83bb6f;
$gray: #f1f1f1;
$md-gray: #e6e6e6;
$text-gray: #b8b8b8;
$blue-link: #0c77b0;
$footer-link: #afafaf;




// // Font Colors
// ///
