html {
  -webkit-font-smoothing: antialiased;
}

/* default OS fonts */
body {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

/* fonts now loaded */
.wf-active body {
	 font-family: $font--body;
}
